header {
    position: relative;
    padding: 175px 0 520px;
    background-image: url("../../images/backgrounds/header-back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include user-select(none);
    @media #{$medium-only} {
        padding: 50px 0 130px;
    }
    @media #{$small-only} {
        padding: 75px 0 140px;
    }

    .logo {
        text-align: center;
        @media #{$small-only} {
            float: none;
            margin: 0 auto;
        }
        img {
            width: 100%;
            @media #{$medium-up} {
                max-width: 400px;
            }
        }

        h2 {
            margin: 15px 0 0 0;
            font-family: "Tunga";
            font-size: 36px;
            text-transform: uppercase;
            text-align: center;
            color: #fefefe;
            @media #{$small-only} {
                font-size: 30px;
            }
        }
    }

    nav {
        ul {
            margin: 0 0 0 104px;

            li {
                display: block;

                a {
                    display: block;
                    font-family: "Tunga";
                    font-size: 18px;
                    line-height: 47px;
                    text-transform: uppercase;
                    text-align: left;
                    color: #4a7999;
                }
            }
        }
    }
    .buton {
        &.white {
            margin: 55px auto 0;
            background-color: #5fcaf2;

            &:hover {
                background-color: #ffffff;
                color: #5fcaf2;
            }

            &:active {
                border: 2px solid #43a9cf;
                background-color: #43a9cf;
                color: #ffffff;
            }
        }
    }
}