header {
    padding: 175px 0 444px;
    background-image: url("../../images/backgrounds/header-back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include user-select(none);
    @media #{$medium-only} {
        padding: 150px 0 200px;
    }
    @media #{$small-only} {
        padding: 150px 0;
    }

    .logo {
        text-align: center;
        @media #{$small-only} {
            float: none;
            margin: 0 auto;
        }
        img {
            @media #{$large-up} {
                max-width: 400px;
            }

            width: 100%;

        }

        h2 {
            margin: 15px 0 0 0;
            font-family: "Tunga";
            font-size: 36px;
            text-transform: uppercase;
            text-align: center;
            color: #fefefe;
            @media #{$small-only} {
                font-size: 30px;
            }
        }
    }

    nav {
        ul {
            margin: 0;

            li {
                display: block;

                a {
                    display: block;
                    font-family: "Tunga";
                    font-size: 18px;
                    line-height: 46px;
                    text-transform: uppercase;
                    text-align: left;
                    color: #4a7999;
                }
            }

        }
    }

    .white {
        margin: 20px auto 0;
    }

    .scroll-open {
        position: fixed;
        z-index: 1;
        top: 0;
        display: none;
        width: 100%;
        padding: 22px 0 14px;
        background-color: #ffffff;
        @include box-shadow(0px 3px 3px rgba(#f0f6f9, 1));

        a {
            display: block;

            &.button-style {
                float: right;
            }
        }

        ul {
            margin: 0;
            padding-top: 14px;
            font-size: 0;

            li {
                position: relative;
                display: inline-block;
                width: 25%;

                &::before {
                    content: "";
                    position: absolute;
                    top: 41px;
                    width: 100%;
                    border-bottom: 2px solid #7fbcd7;
                    @include opacity(0);
                    @include transition-property(opacity);
                    @include transition-duration(200ms);
                }

                &:hover {
                    &::before{
                        @include opacity(1);
                    }

                }

                &:first-child{
                    margin-left: 0;
                }

                a {
                    display: block;
                    padding: 0 ;
                    font-family: "Tunga";
                    font-size: 18px;
                    line-height: 29px;
                    text-transform: uppercase;
                    text-align: center;
                    color: #000000;
                }
            }

        }
    }
}