.modal-style {
    position: fixed;
    width: 100%;
    min-width: 320px;
    top: 10% !important;
    text-align: center;
    @media #{$small-only}{
        top: 100px;
        height: auto;
        min-height: 196px;
    }

    .btn {
        margin: 20px auto 0;
        background-color: #5fcaf2;
        color: #ffffff;

        &:hover {
            background-color: #57B6DA;
        }
    }
}