.scroll-open {
    z-index: 10;
    height: 80px;
    background-color: #ffffff;
    line-height: 80px;
    @include box-shadow(0px 3px 3px rgba(#000, 0.2));
    @include user-select(none);
    @media #{$small-only} {
        display: none;
    }
    @media #{$medium-only} {
        display: none;
    }

    nav {
        a {
            display: inline-block;

            &.btn {
                float: right;
            }
        }

        img {
            width: 168px;
        }

        ul {
            margin: 0;
            font-size: 0;

            li {
                position: relative;
                display: inline-block;
                padding: 36px 28px 0;
                text-align: center;
                @include breakpoint(middle){
                    padding: 36px 22px 0;
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -22px;
                    width: 100%;
                    border-bottom: 2px solid #7fbcd7;
                    @include opacity(0);
                    @include transition-property(opacity);
                    @include transition-duration(200ms);
                }

                &:hover, &.active {
                    &::before {
                        @include opacity(1);
                    }
                }

                &:first-child {
                    margin-left: 0;
                }

                a {
                    display: block;
                    padding: 0;
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                    text-transform: uppercase;
                    text-align: center;
                    color: #000000;
                }
            }
        }
    }

    .contact-btn-wrap {
        padding-top: 27px;
    }
}
