.buton {
    display: block;
    width: 164px;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    @include user-select(none);
    @include transition-property(background-color);
    @include transition-duration(300ms);

    &:focus {
        outline: none;
    }

    &.black {
        border: 1px solid #000000;
        font-weight: 400;
        color: #000000;

        &:hover {
            border-color: transparent;
            background-color: #7fbcd7;
            color: #ffffff;
        }

        &:active {
            border-color: transparent;
            background-color: #538da7;
            color: #ffffff;
        }
    }

    &.white {
        border: 2px solid #ffffff;
        color: #ffffff;

        &:hover {
            border: 1px solid #ffffff;
            background-color: #7bc4e6;
            line-height: 38px;
        }

        &:active {
            border: 2px solid #3484a9;
            background-color: #378fb8;
            line-height: 36px;
        }
    }

    &.orange {
        background-color: #de6c40;
        color: #ffffff;

        &:hover {
            background-color: #f17645;
        }

        &:active {
            background-color: #d76437;
        }
    }
}