.menu-style {
    padding: 0 15px;
    @include user-select(none);

    a {
        display: inline-block;

        &.buton {
            float: right;
        }

        img {
            width: 168px;
        }
    }
}
.nav-list {
    @include user-select(none);
}