<section  data-magellan-destination="about" class="about" id="about">
    <h2>About</h2>
    <p>We are a young team that has great start in web indusry.
        We’re not afraid to use new technologies and than embed it in projects.
        Each of us has expirience working in big IT companies. </p>
    <p>And now we cooperate to realize our ideas and dreams. We are experts at defining both concept and scope. </p>
    <p>Our process implicates involvement QA engineers, which allows us to demonstrate good quality.
        Managers at UI Crystal respond you 24/7 and tech lead organizes work on the project.</p>
</section>