<section class="contact paraxify" id="contact" data-magellan-destination="contact">
    <h3>contact us</h3>
    <ul class="contact-box clearfix">
        <li><a href="mailto:uicrystal@ui.com?subject=Contact">uicrystal@ui.com</a></li>
        <li><a href="skype:uicrustal">uicrystal</a></li>
    </ul>
    <div class="row">
        <div class="small-12">
            <p>Or send your questions, wishes and views we already happy to respond you. Our timezone is GMT+2, so we
                might not
                react right away, but we’ll give responses!</p>
        </div>
    </div>

    <form data-abide="ajax" action="/" method="post" id="feedback" class="row">
        <textarea placeholder="Please tell us about your project" required></textarea>
        <small class="error">mistake: please check your information.</small>
        <div class="row">
            <div class="small-12 medium-12 large-3 columns">
                <input type="text"/>
                <p>your name</p>
            </div>
            <div class="small-12 medium-12 large-3 columns">
                <input type="email" required/>

                <label>e-mail*</label>
                <small class="error">mistake: please check your information.</small>
            </div>
            <div class="small-12 medium-12 large-3 columns">
                <input type="text"/>

                <p>skype</p>
            </div>
            <div class="small-12 medium-3 large-3 columns clearfix">
                <button class="buton orange">get in touch</button>
            </div>
        </div>
        <!--Modal Messages-->
        <div id="ok" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
            <p class="lead">Your message sent. We contact with you soon.</p>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
        <div id="fail" data-reveal-ajax="true" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
            <p class="lead">Sorry something wrong! Please contact us via email.</p>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
    </form>

</section>