<section class="contact">
    <h3>contact us</h3>
    <ul>
        <li><a href="#">uicrystal@ui.com</a></li>
        <li><a href="#">uicrystal</a></li>
    </ul>
    <div class="row">
        <div class="small-12">
            <p>Or send your questions, wishes and views we already happy to respond you. Our timezone is GMT+2, so we
                might not
                react right away, but we’ll give responses!</p>
        </div>
    </div>

    <form data-abide="ajax" action="/" method="post" id="service" class="row">
        <textarea placeholder="Please tell us about your project" required></textarea>

        <div class="row">
            <div class="small-12 medium-12 large-3 columns">
                <input type="text"/>
                <label>your name</label>
                <small class="error">mistake: please check your information.</small>
            </div>
            <div class="small-12 medium-12 large-3 columns">
                <input type="email" required/>

                <label>e-mail*</label>
                <small class="error">mistake: please check your information.</small>
            </div>
            <div class="small-12 medium-12 large-3 columns">
                <input type="text"/>

                <label>skype</label>
                <small class="error">mistake: please check your information.</small>
            </div>
            <div class="small-12 medium-3 large-3 columns clearfix">
                <button class="button-style orange">get in touch</button>
            </div>
        </div>
    </form>

    <div class="footer">
        <p>ui crystal © 2015</p>

        <p>all rights reserved</p>
    </div>
</section>