<section class="contact" id="contact" data-magellan-destination="contact" data-type="parallax" data-speed="10">
    <h2>contact us</h2>
    <ul class="contact-box clearfix">
        <li><a href="mailto:info@uicrystal.com?subject=Contact">info@uicrystal.com</a></li>
        <li><a href="skype:uicrustal">uicrystal</a></li>
    </ul>
    <div class="row">
        <div class="small-12">
            <p>Or send your questions, wishes and views we already happy to respond you. Our timezone is GMT+2, so we
                might not
                react right away, but we&#39;ll give responses!</p>
        </div>
    </div>

    <form data-abide="ajax" action="/" method="post" id="feedback">
        <textarea placeholder="Please tell us about your project" name="contactUs[message]" required></textarea>
        <small class="error">mistake: please check your information.</small>
        <div class="row collapse">
            <div class="small-12 medium-12 large-3 columns">
                <input type="text" name="contactUs[name]"/>
                <p>your name</p>
            </div>
            <div class="small-12 medium-12 large-3 columns">
                <input type="email" name="contactUs[email]" required/>

                <label>e-mail*</label>
                <small class="error">mistake: please check your information.</small>
            </div>
            <div class="small-12 medium-12 large-3 columns">
                <input type="text" name="contactUs[skype]"/>

                <p>skype</p>
            </div>
            <div class="small-12 medium-3 large-3 columns clearfix">
                <button class="btn orange">get in touch</button>
            </div>
        </div>
    </form>

</section>