<section class="services">
    <h2>Services</h2>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            @@include('../widgets/service-item.html',{"title":"web design", "data":"Want to make your idea live and to find out solutions for your business? Our designers ready to imbue your target for creation your best layout."})
            @@include('../widgets/service-item.html',{"title":"responsive landing page", "data":"Let us design your new landing page and make it responsive. We test heavily across devices, integrate analytics tools and focus on UX to improve convertation rates."})
        </div>
    </div>
    </div>


</section>