<section data-parallax="scroll" data-image-src="client/images/backgrounds/work-back.jpg" class="work clearfix parallax-window">
        <div class="row">
            @@include('../widgets/solutions.html', {"offset":"1","title":"Graphic Solutions", "slide":"1", "data":"Aliquam eu urna eu magna pellentesque auctor. Nullam facilisis tellus ut orci dapibus semper. Ut lacinia mi fermentum lorem laoreet, imperdiet congue ipsum porttitor. Etiam ultricies turpis metus, ac venenatis risus accumsan."})
            @@include('../widgets/solutions.html', {"offset":"2","title":"Web Solutions", "slide":"2", "data":"Aliquam eu urna eu magna pellentesque auctor. Nullam facilisis tellus ut orci dapibus semper. Ut lacinia mi fermentum lorem laoreet, imperdiet congue ipsum porttitor. Etiam ultricies turpis metus, ac venenatis risus accumsan."})
        </div>
</section>