<section class="work" id="work" data-magellan-destination="work" data-type="parallax" data-speed="10">
    <div class="row">
        <div id="graphic" class="small-12 medium-10 large-6 columns solutions">
            <h2>Graphic Solutions</h2>
            <!--<p>Aliquam eu urna eu magna pellentesque auctor. Nullam facilisis tellus ut orci dapibus semper. Ut lacinia mi fermentum lorem laoreet, imperdiet congue ipsum porttitor. Etiam ultricies turpis metus, ac venenatis risus accumsan.</p>-->

            <ul class="clearing-thumbs slide-examples row collapse clearing-feature" data-clearing>
                <li class="small-4 columns clearing-featured-img"><a href="client/images/slide/graphic-1.png"><img src="client/images/slide/graphic-1_sm.png"></a></li>
                <li class="small-4 columns clearing-featured-img"><a href="client/images/slide/graphic-2.png"><img src="client/images/slide/graphic-2_sm.jpg"></a></li>
                <li class="small-4 columns clearing-featured-img"><a href="client/images/slide/graphic-3.png"><img src="client/images/slide/graphic-3_sm.jpg"></a></li>
                <li><a href="client/images/slide/graphic-4.jpg"><img src="client/images/slide/graphic-4_sm.png"></a></li>
                <li><a href="client/images/slide/graphic-5.png"><img src="client/images/slide/graphic-5_sm.png"></a></li>
                <li><a href="client/images/slide/graphic-6.png"><img src="client/images/slide/graphic-6_sm.png"></a></li>
                <li><a href="client/images/slide/graphic-7.png"><img src="client/images/slide/graphic-7_sm.png"></a></li>
                <li><a href="client/images/slide/graphic-8.png"><img src="client/images/slide/graphic-8_sm.png"></a></li>
                <li><a href="client/images/slide/graphic-10.jpg"><img src="client/images/slide/graphic-10_sm.png"></a></li>
                <li><a href="client/images/slide/graphic-11.jpg"><img src="client/images/slide/graphic-11_sm.png"></a></li>
                <li><a href="client/images/slide/graphic-12.png"><img src="client/images/slide/graphic-12_sm.png"></a></li>
                <li><a href="client/images/slide/graphic-13.png"><img src="client/images/slide/graphic-13_sm.png"></a></li>
                <li><a href="client/images/slide/graphic-14.png"><img src="client/images/slide/graphic-14_sm.png"></a></li>
                <li><a href="client/images/slide/graphic-15.png"><img src="client/images/slide/graphic-15_sm.png"></a></li>
                <li><a href="client/images/slide/graphic-16.png"><img src="client/images/slide/graphic-16_sm.png"></a></li>
                <li><a href="client/images/slide/graphic-17.png"><img src="client/images/slide/graphic-17_sm.png"></a></li>
            </ul>

            <a class="btn white" href="#">view all work</a>
        </div>
        <div id="web" class="small-12 medium-10 large-6 columns solutions">
            <h2>Web Solutions</h2>
            <!--<p>Aliquam eu urna eu magna pellentesque auctor. Nullam facilisis tellus ut orci dapibus semper. Ut lacinia mi fermentum lorem laoreet, imperdiet congue ipsum porttitor. Etiam ultricies turpis metus, ac venenatis risus accumsan.</p>-->

            <ul class="clearing-thumbs slide-examples row collapse" data-clearing>
                <li class="small-4 columns"><a href="client/images/slide/web-1.png"><img data-caption="<a class='link-view' href='http://works.uicrystal.com/'>View markup demo works.uicrystal.com</a>" src="client/images/slide/web-1_sm.jpg"></a></li>
                <li class="clearing-featured-img small-4 columns"><a href="client/images/slide/shanti.jpg"><img src="client/images/slide/shanti.jpg"></a></li>
                <li class="small-4 columns"><a href="client/images/slide/crystal-big.jpg"><img src="client/images/slide/crystal.jpg"></a></li>
            </ul>

            <a class="btn white" href="#">view all work</a>
        </div>
    </div>
</section>