<section  data-magellan-destination="work" class="work" id="work">
    <div class="row">
        <div id="graphic" class="small-12 medium-8 large-6 columns solutions">
            <h2>Graphic Solutions</h2>
            <p>Aliquam eu urna eu magna pellentesque auctor. Nullam facilisis tellus ut orci dapibus semper. Ut lacinia mi fermentum lorem laoreet, imperdiet congue ipsum porttitor. Etiam ultricies turpis metus, ac venenatis risus accumsan.</p>

            <ul class="clearing-thumbs slide-examples row collapse" data-clearing>
                <li class="small-4 columns"><a href="client/images/slide/graphic-1.jpg"><img src="client/images/slide/graphic-1.jpg"></a></li>
                <li class="clearing-featured-img small-4 columns"><a href="client/images/slide/graphic-2.jpg"><img src="client/images/slide/graphic-2.jpg"></a></li>
                <li class="small-4 columns"><a href="client/images/slide/graphic-3.jpg"><img src="client/images/slide/graphic-3.jpg"></a></li>
            </ul>

            <a id="open-graphic" class="buton white" href="#">view all work</a>
        </div>
        <div id="web" class="small-12 medium-8 large-6 columns solutions">
            <h2>Web Solutions</h2>
            <p>Aliquam eu urna eu magna pellentesque auctor. Nullam facilisis tellus ut orci dapibus semper. Ut lacinia mi fermentum lorem laoreet, imperdiet congue ipsum porttitor. Etiam ultricies turpis metus, ac venenatis risus accumsan.</p>

            <ul class="clearing-thumbs slide-examples row collapse" data-clearing>
                <li class="small-4 columns"><a href="client/images/slide/breakfasty-big.jpg"><img src="client/images/slide/breakfasty.jpg"></a></li>
                <li class="clearing-featured-img small-4 columns"><a href="client/images/slide/shanti.jpg"><img src="client/images/slide/shanti.jpg"></a></li>
                <li class="small-4 columns"><a href="client/images/slide/crystal-big.jpg"><img src="client/images/slide/crystal.jpg"></a></li>
            </ul>

            <a id="open-web" class="buton white" href="#">view all work</a>
        </div>
    </div>
</section>