.about {
    padding: 135px 35px 140px;
    text-align: center;
    @media #{$medium-only}{
        padding: 50px 15px 85px;
    }
    @media #{$small-only}{
        padding: 45px 15px 60px;
    }

    h3 {
        margin: 0;
        font-family: "Tunga";
        font-size: 48px;
        text-transform: uppercase;
        @include user-select(none);
    }

    p {
        line-height: 30px;

        &:first-of-type {
            margin-top: 30px;
        }
    }
}