.about {
    padding: 135px 35px 140px;
    text-align: center;
    @media #{$medium-only}{
        padding: 50px 15px 85px;
    }
    @media #{$small-only}{
        padding: 45px 15px 60px;
    }

    h2 {
        margin: 0;
        font-family: "Roboto", sans-serif;
        font-size: 30px;
        line-height: 40px;
        text-transform: uppercase;
        @include user-select(none);
        @media #{$large-up}{
            font-size: 36px;
        }
    }

    p {
        margin-top: 5px;
        line-height: 25px;
        @media #{$medium-only}{
            margin-top: 15px;
        }
        @media #{$small-only}{
            margin-top: 20px;
        }

        &:first-of-type {
            margin-top: 45px;
            @media #{$small-only}{
                margin-top: 30px;
            }
        }
    }
}