.services {
    text-align: center;
    padding: 45px 0 60px;
    @media #{$medium-only}{
        padding: 50px 0 85px;
    }
    @media #{$large-up}{
        padding: 135px 0 140px;
        background-image: url("../../images/backgrounds/services.png");
        background-repeat: no-repeat;
        background-position: 50% 36%;
    }

    h2 {
        margin: 0;
        font-family: "Tunga";
        font-size: 30px;
        text-transform: uppercase;
        @include user-select(none);
        @media #{$large-up}{
            font-size: 48px;
        }
    }

    .service-items {

        @media #{$medium-only}{
            float: none;
            margin: 0 auto;
        }
        @media #{$small-only}{
            float: none;
            margin: 0 auto;
        }
        .figure-wrapper {
            &.left-align {
                figure {
                    &:first-child {
                        @media #{$small-only}{
                            margin-top: 20px;
                        }
                        @media #{$medium-only}{
                            margin-top: 35px;
                        }
                    }
                }
            }
            &.center {
                @media #{$large-up}{
                    figure{
                        margin-top: 0;
                    }
                }
            }

            figure {
                margin-top: 50px;
                @media #{$large-up}{
                    margin-top: 85px;
                }

                img {
                    margin-right: 30px;
                    vertical-align: top;
                    @include user-select(none);
                    @media #{$small-only}{
                        width: 50px;
                        margin-right: 0;
                    }
                    @media #{$large-up}{
                        display: none;
                    }
                }

                figcaption {
                    @media #{$medium-only}{
                        display: inline-block;
                        max-width: 370px;
                    }

                    h3 {
                        @media #{$small-only}{
                            margin-top: 15px;
                            text-align: center;
                        }
                    }

                    p {
                        margin-top: 20px;
                    }

                    .buton {
                        float: right;
                        margin-top: 15px;
                        @media #{$small-only}{
                            float: none;
                            margin: 15px auto 0;
                        }
                    }
                }
            }
        }
    }
}