.work {
    padding: 190px 0 110px;
    background-image: url("../../images/backgrounds/work-back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    @media #{$small-only} {
        padding: 0 0 60px;
    }
    @media #{$medium-only} {
        padding: 0 0 85px;
    }

    .solutions {
        @media #{$medium-only} {
            float: none;
            margin: 50px auto 0;
        }
        @media #{$small-only} {
            margin-top: 50px;
        }

        h2 {
            font-weight: 500;
            font-size: 24px;
            text-align: center;
            @include user-select(none);
        }

        p {
            margin-top: 30px;
            line-height: 25px;
            text-align: left;
            @media #{$large-up}{
                padding: 0 48px;
            }
            @media #{$medium-only}{
                padding: 0 38px;
            }
            @media #{$small-only} {
                margin-top: 15px;
                padding: 0 15px;
                text-align: justify;
            }
        }

        .slide-examples {
            padding-top: 20px;
            text-align: center;

            li {
                margin: 15px 0 0;

                &:first-child {
                    a {
                        float: right;
                    }
                }

                &:nth-child(3) {
                    a {
                        float: left;
                    }
                }

                a {
                    display: block;

                    img {
                        width: 146px;
                        border: 2px solid transparent;
                        @include user-select(none);
                        @include transition-property(border-color);
                        @include transition-duration(200ms);

                        &:hover {
                            border-color: #ffffff;
                        }
                    }
                }
            }
        }

        .btn {
            margin: 50px auto 0;
            @media #{$small-only} {
                margin: 20px auto 0;
            }
        }
    }
}